body{
  overflow-x: hidden;
  font-family: 'Playfair Display', serif;
  color: #505962;
}

/* navbar */
.navbar{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  background: rgba(0, 0, 0, 0.6)!important;
}

.navbar-brand img{
  height: 2rem;
}

.navbar-nav li{
  padding-right: 0.7rem;
}

.navbar-dark .navbar-nav .nav-link{
  color: white;
  padding-top: 0.8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #fffa67;
}

/* slide */
.carousel-item{
  height: 100vh;
}

.offset::before{
  height: 3rem;
  margin-top: -4rem;
  content: "";
  display: block;
}

.carousel-caption{
  position: absolute;
  top: 38%;
  text-transform: uppercase;
  width: 100%;
  right: 0;
  left: 0;
}
.carousel-caption h1{
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-shadow: 0.1rem 0.1rem 0.8rem #facd49;
  padding-bottom: 1rem;

}
.carousel-indicators .active{
  background-color: #facd49;
}

.carousel-caption h3{
  font-size: 2rem;
  text-shadow: 0.1rem 0.1rem 0.5rem #facd49;
  padding-bottom: 1.6rem;
}

.btn-lg{
  border-width: medium;
  border-radius: 0;
  font-size: 1.1rem;
}

/*============= COURSE SECTION =============*/

.narrow {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.btn-md {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.1rem;
  text-transform: uppercase;
  margin: 1rem;
}

/* portfolio */
.jumbotron{
  border-radius: 0;
  padding: 3rem 0 2rem;
  margin-bottom: 0;
}

h3.heading{
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 1.9rem;
}
.heading-underline{
  width: 3rem;
  height: 0.2rem;
  background-color: #fffa67;
  margin: 0 auto 2rem;
}
/* portfoli-img */

.portfolio img{
  max-width: 100%;
  transform: transform 0.5s ease;
}

.row.no-padding [class*=col-]{
  padding: 0;

}
.portfolio img:hover {
  transform: scale(1.1);
  cursor: zoom-in; /*for zoomin the pic*/
}
.portfolio{
  overflow:hidden;
}
/* end portfolio */

/* team */
.card{
  margin: 2rem;
}
.card-img-top{
  border-radius: 100%;
  max-width: 50%;
  margin: 10% 25%;
}

/* end team */

/* contact */
footer{
  background-color: #40474e;
  color: white;
  padding: 2rem 0 3rem;
  margin-top: 1rem;
}
footer img{
  height: 3rem;
  margin: 1.5rem 0;
}
footer a{
  color: white;
}

footer svg.svg-inline--fa{
  font-size: 1.6rem;
  margin: 1.2rem 0.5rem 0 0;
}
footer svg.svg-inline--fa:hover{
  color: #fffa67;
}

hr.socker{
  border-top: 0.2rem solid #666b71;
  width:100%
}

/* dropdown */

.dropdown-menu {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-menu a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown-menu a:hover {
background-color: black;
color: yellow;
}

.dropdown:hover .dropdown-menu {
display: block;
}

/* end dropdown */

.work{
  margin: 7%;
}

.maydani {
  -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
  transition: width 2s, height 2s, transform 2s;
}
.maydani:hover {
  -webkit-transform: rotate(360deg); /* Safari */
  transform: rotate(360deg);
}



/* contact us page */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
margin: 0;
padding: 0;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
-o-font-smoothing: antialiased;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;
}

.contact-info-page {
font-family: "Roboto", Helvetica, Arial, sans-serif;
font-weight: 100;
font-size: 12px;
line-height: 30px;
color: #777;
background: black;
}

.container {
max-width: 400px;
width: 100%;
margin: 0 auto;
position: relative;
}

#contact-page input[type="text"],
#contact-page input[type="email"],
#contact-page input[type="tel"],
#contact-page input[type="url"],
#contact-page textarea,
#contact-page button[type="submit"] {
font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact-page {
  background-image: url('img/contact/contact.png');
/* background: #F9F9F9; */
padding: 25px;
margin: 150px 0;
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
border-radius: 10%;
padding-top: 40%;
padding-bottom: 37%;
height: 50%;
}

fieldset {
border: medium none !important;
margin: 0 0 10px;
min-width: 100%;
padding: 0;
width: 100%;
}

#contact-page input[type="text"],
#contact-page input[type="email"],
#contact-page input[type="tel"],
#contact-page input[type="url"],
#contact-page textarea {
width: 90%;
border: 1px solid #ccc;
background: #FFF;
margin: 0 5% 5px;
padding: 10px;
}

#contact-page input[type="text"]:hover,
#contact-page input[type="email"]:hover,
#contact-page input[type="tel"]:hover,
#contact-page input[type="url"]:hover,
#contact-page textarea:hover {
-webkit-transition: border-color 0.3s ease-in-out;
-moz-transition: border-color 0.3s ease-in-out;
transition: border-color 0.3s ease-in-out;
border: 1px solid #aaa;
}

#contact-page textarea {
height: 100px;
max-width: 90%;
resize: none;
}

#contact-page button[type="submit"] {
cursor: pointer;
width: 50%;
border: none;
background: black;
color: yellow;
margin: 10% 25% 0;
padding: 10px;
font-size: 15px;
border-radius: 20%;
}

#contact-page button[type="submit"]:hover {
background: black;
-webkit-transition: background 0.3s ease-in-out;
-moz-transition: background 0.3s ease-in-out;
transition: background-color 0.3s ease-in-out;
}

#contact-page button[type="submit"]:active {
box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
text-align: center;
}

#contact-page input:focus,
#contact-page textarea:focus {
outline: 0;
border: 1px solid #aaa;
}

::-webkit-input-placeholder {
color: #888;
}

:-moz-placeholder {
color: #888;
}

::-moz-placeholder {
color: #888;
}

:-ms-input-placeholder {
color: #888;
}

/* end contact page */

/* media */
@media(max-width: 767px){
  .carousel-caption h1{
    font-size: 2.3rem;
    letter-spacing: 0.15rem;
    padding-bottom: 0.5rem;

  }

  .carousel-caption h3{
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
  }

  .btn-lg{
    font-size: 1rem;
  }

  .narrow h1{
    font-size: 1.5rem;
  }

  p.lead{
    font-size: 1rem;
  }

}


/* end contact */

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
